

table td{
  padding: 5px;
  position: relative;
  width: 5rem;
  border-radius: 10px;
}

.date {
  font-size: 24px;
  font-weight: bold;
  text-align: left; 
  position: absolute;
  top: 0;
}

tbody tr{
  height:5rem;
}

.day:hover{
  cursor: pointer;
  background-color: #f9b2b2;
}

.previous_month{
  color: gray
}

.next_month{
  color: gray;
}

.today{
  background-color: red
}

.calendar_container{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 70%;
}

.calendar_options{
  display: flex;
  justify-content: space-between;
}

.calendar_button{
  width: 10rem;
  height: 3rem;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.calendar_title{
  text-align: center;
}