
table{
  width: 80%;
  height: 50rem;
}

table th{
  height: 2rem;
}

table td{
  font-size: 20px;
  font-weight: bold;
  text-align: left; 
}

table td:hover{
  border: 1px solid red;
  border-radius: 10px;
}

table tr{
  height:5rem;
}